/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  color: #1a2733;

  font-size: 2rem;

  max-width: 80vw;
  margin: 0 auto;

  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', sans-serif;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* 

9. Remove default styling from links
 */

.header,
.footer {
  margin-bottom: 5rem;
  text-align: center;
}

.logo {
  width: 25rem;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

.hero {
  text-align: center;
  margin-bottom: 10rem;
}

.footer {
  margin-bottom: 0;
  color: #a1aab2;
}

.heading {
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

.cta {
  justify-content: center;
  display: flex;
  gap: 5rem;
}

.button {
  padding: 1.5rem 8rem;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;

  color: #fff;
  cursor: pointer;
  border: 0;
  border-radius: 100rem;
}

.button:link,
.button:visited {
  background-color: #014180;
  text-decoration: none;
  transition: all cubic-bezier(0, 1.11, 1, 0.71);
}

.button:hover,
.button:active {
  background-color: #ffaa00;
  text-decoration: none;
  color: #1a2733;
}

.button.no {
  background-color: #1a8fff;
  color: #fff;
}

.button.no:hover,
.button.no:active {
  background-color: #1473cc;
  color: #fff;
}

.flag {
  width: 25rem;
  display: inline-block;
  height: auto;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 50em) {
  .heading {
    font-size: 4rem;
  }

  .cta {
    flex-direction: column;
    gap: 2.5rem;
  }

  .hero {
    margin-bottom: 6rem;
  }
}

@media screen and (max-width: 37.5em) {
  .heading {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .logo {
    width: 15rem;
  }

  .flag {
    width: 20rem;
  }

  .button {
    font-size: 2rem;
  }

  .footer {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 28.125em) {
  .heading {
    font-size: 2.5rem;
  }

  body {
    max-width: 90vw;
  }

  .cta {
    gap: 1.5rem;
  }

  .button {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
